<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1" >

    <parameter name="browser" value="CHROME"/>
    <!--<parameter name="browser" value="FIREFOX"/>-->

    <test name="Test browser" >
        <classes>
            <class name="TestHomePage" />
        </classes>
    </test>
</suite>